<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>
<body>
<div class="container">
    <label>Welcome to the club, buddy</label>
    <form action="/logout" method="POST">
        <button>LOG OUT</button>
    </form>
</div>
</body>
</html>