<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Trip Planner</title>
    <link rel="stylesheet" href="../css/mainPage.css">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <img src="../graphics/TripPlannerLogosmall.png" alt="TripPlannerLogo" class="logo">
             <ul>
                 <li><a href='../views/index.ejs'>Home</a></li>
                 <li><a href="#">Impressum</a></li>
             </ul>
        </div>
        <div class="container">
           <div class="left-box" >
             <h3>Your destinations</h3><br>
               <button class="edit-button">Edit</button>
               <button class="add-button">Add Trip</button>
                 <ul class="city-list">
                  <li class="city"> Lima </li> <br>
                  <li class="city"> Lisbon </li> <br>
                  <li class="city"> Barcelona </li>  <br>
                 </ul>
            </div>
            <div class="right-box">
                <div class="mytabs">
                    <input type="radio" id="tabBookings" name="mytabs" checked="checked">
                    <label for="tabBookings">Bookings</label>
                    <div class="tab">
                      <h2>Booking</h2>
                      <iframe id="myPdf" src="../graphics/barcelonaBooking.pdf" frameborder="0"></iframe>
                      </div>
                
                    <input type="radio" id="tabWeather" name="mytabs">
                    <label for="tabWeather">Silver</label>
                    <div class="tab">
                      <h2>Weather</h2>
                      
                    </div>
                
                    <input type="radio" id="tabCurrency" name="mytabs">
                    <label for="tabCurrency">Currency</label>
                    <div class="tab">
                      <h2>Weather</h2>
                      </div>
                
                  </div>
             
            </div>
    </div>
</div>
</body>

</html>
