<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Trip Planner</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="banner">
    <div class="navbar">
        <img src="../graphics/TripPlannerLogosmall.png" alt="TripPlannerLogo" class="logo">
        <ul>
            <li><a href='/index'>Home</a></li>
            <li><a href="#">Impressum</a></li>
        </ul>
    </div>
    <div class="loginbox">
        <img src="../graphics/login.png" class="loginPic">
        <h1>Login here</h1>
        <form action="/login" method="POST">
            <p>Username</p>
            <input type="email" name="email" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="" value="Login"><br>
    
            <a href="#">Forgot your password?</a><br>
        </form>
        <form action="/signup" method="GET">
            <a href="/signup">Sign up here</a>
        </form>
    </div>
    </div>
</body>

</html>