<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
    <div class="container">
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="email">E-mail:<input type="email" name="email"></label>
            </div>
            <div class="input-group">
                <label for="password">Password:<input type="password" name="password"></label>
            </div>
            <button>Log in</button>
        </form>
        <a href="/signup">Don't have an account? Sign up</a>
    </div>
</body>
</html>