<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Trip Planner</title>
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
    <div class="banner">
    <div class="navbar">
        <img src="../graphics/TripPlannerLogosmall.png" alt="TripPlannerLogo" class="logo">
        <ul>
            <li><a href='../views/index.ejs'>Home</a></li>
            <li><a href="#">Impressum</a></li>
        </ul>
    </div>
    <div class="register-box">
        <img src="../graphics/login.png" class="loginPic">
        <h1>Sign up here</h1>
        <form action="/signup" method="POST">
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <p>Email</p>
            <input type="email" name="" placeholder="Enter Email" required>

            <input type="submit" name="" value="Create Account" onclick="window.location.href = 'dashboard.ejs';"><br>

        </form>
           <form action="/login">
            <a href="login.ejs">Login here</a>
           </form>
    
    </div>

</body>

</html>